html,
body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #090909;
    font-family: 'IBM Plex Mono', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


#mainNavbar .navbar-brand {
    color: #808080;
    margin-top: 25px;
}

.debug {
    border: 1px solid red;
}

.wave {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}

.bod {
    margin-top: auto;
}

iframe {
    width: 500px;
    height: 500px;
    margin-left: 25%;
}

#me {
    margin-left: 10%;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 400;
}

footer {
    margin-top: auto;
}

#mainNavbar .nav-link {
    --b: 0;
    /* border length*/
    --c: 10px;
    /* the cube perspective */

    --g: calc(var(--c)*0.707);
    /* 0.707 = cos(45deg) = sin(45deg) */

    color: #FFFFFF;
    padding: 8px;
    transition: 0.5s;
    border: solid transparent;
    border-width: var(--b) var(--b) calc(var(--c) + var(--b)) calc(var(--c) + var(--b));
    background:
        linear-gradient(-45deg, transparent var(--g), rgba(255, 255, 255, 0.6) 0) left /var(--c) 100%,
        linear-gradient(135deg, transparent var(--g), rgba(255, 255, 255, 0.3) 0) bottom /100% var(--c),
        conic-gradient(from -90deg at top var(--b) right var(--b), currentColor 270deg, transparent 0),
        conic-gradient(from 90deg at bottom calc(var(--c) + var(--b)) left calc(var(--c) + var(--b)), currentColor 270deg, transparent 0);
    background-repeat: no-repeat;
    background-origin: border-box;
    transform: translate(calc(var(--c)/-1), calc(var(--c)/1));
    clip-path:
        polygon(var(--c) 0%, var(--c) 0%,
            100% 0%,
            100% calc(100% - var(--c)), 100% calc(100% - var(--c)),
            var(--c) calc(100% - var(--c)),
            var(--c) calc(100% - var(--c)));

}

#mainNavbar .nav-link:hover {
    color: #808080;
    transform: translate(0, 0);
    clip-path:
        polygon(0% var(--c), var(--c) 0%,
            100% 0%,
            100% calc(100% - var(--c)), calc(100% - var(--c)) 100%,
            0% 100%, 0% 100%);
}

.preloader {
    background: #090909;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    font-family: 'IBM Plex Mono', monospace;
}

.preloader span {
    display: inline-block;
    color: white;
    font-size: 4rem;
    animation: load 1s ease-in-out infinite;
    animation-delay: calc(0.1s*var(--a));

}

@keyframes load {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-40px);
    }

    60% {
        transform: translateY(0);
    }
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.pp {
    max-width: 50%;
    max-height: auto;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    /* IE 6-9 */
    transition: 0.5s;
}

.pp:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

/* .preloader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 10px solid #808080;
    border-top-color: #FFFFFF;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
} */

.auto-type {
    word-wrap: break-word;
}

/* @keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
} */

@media only screen and (max-width: 800px) {
    #pp {
        margin-left: 0%;
    }

    #me {
        width: auto;
    }
}


/* Experience Start */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.containerr {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

/*.containerr:nth-child(1) {
    animation-delay: 0s;
}

.containerr:nth-child(2) {
    animation-delay: 1s;
}

.containerr:nth-child(3) {
    animation-delay: 2s;
}

.containerr:nth-child(4) {
    animation-delay: 3s;
}

.containerr:nth-child(5) {
    animation-delay: 4s;
}

.containerr:nth-child(6) {
    animation-delay: 5s;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}*/


.textbox {
    padding: 20px 30px;
    background: #808080;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.containerr img {
    position: absolute;
    width: 60px;
    right: -30px;
    top: 32px;
    z-index: 10;
}

.right-container img {
    left: -30px;
}

.textbox h2 {
    font-weight: 600;
}

.textbox small {
    display: inline-block;
    margin-bottom: 15px;
}

.right-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #808080;
    right: -15px;
}

/*repeat for left arrow*/
.left-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #808080;
    left: -15px;
}

@media screen and (max-width: 600px) {
    .timeline {
        margin: 50px auto;
    }

    .timeline::after {
        left: 31px;
    }

    .containerr {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .textbox {
        font-size: 13px;
    }

    .textbox small {
        margin-bottom: 10px;
    }

    .right-container {
        left: 0%;
    }

    .left-container img,
    .right-container img {
        left: 10px;
    }

    .left-arrow,
    .right-arrow {
        border-right: 15px solid #808080;
        border-left: 0;
        left: -15px;
    }
}

a {
    color: white;
    cursor: pointer;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

/*I want the scroll animation icon to be on the bottom rigth corner of the page*/

a#scroll-btn {
    position: absolute;
    height: 3em;
    width: 1.875em;
    border: 0.5em solid #ffffff;
    margin: auto;
    left: 90%;
    right: 0;
    bottom: 6.25em;
    border-radius: 3em;
}

a#scroll-btn:before {
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right: 0;
    top: 0.2em;
    height: 0.4em;
    width: 0.4em;
    background-color: #ffffff;
    border-radius: 50%;
    animation: move-down 2s infinite;
}

@keyframes move-down {
    80% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(0.5em);
        opacity: 0;
    }
}

a#scroll-btn:after {
    position: absolute;
    content: "";
    width: 12em;
    display: block;
    width: 12em;
    text-align: center;
    left: -4.2em;
    bottom: -2.5em;
    font-size: 1.6em;
    color: #ffffff;
    letter-spacing: 3px;
    font-weight: 600;
}

.dis {
    opacity: 0;
}

/* Experience End */